.profileInfoContainer {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #657d94
}

.profileInfoTextContainer {
    margin-left: 20px;
}

.profileInfoText {
    margin-left: 5px;
    color: black
}

.profileInfoBtn {
    cursor: pointer;
    font-family: Abel;
    margin: 10px;
    font-size: 22px;
    background: #4776a1;
    border-radius: 10px;
    border: none;
    padding: 1px 20px;
    color: #ffffff;
}

.profileImg {
    display: flex;
    min-width: 50px;
    min-height: 50px;
    max-height: 270px;
    max-width: 270px;
    border-radius: 20%;
}

.profilePosts {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.createPost {
    cursor: pointer;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.createPostText {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid black;
}