body {
    font-family: Abel;
}

.container {
    width: 1000px;
    padding: 0px 30px;
    margin: 0 auto;
    justify-content: center;
}

.createPost {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}