

.container {
    max-width: 800px;
    max-height: 800px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black
}

.container + .container {
    margin-top: 100px;
}

.userNameContainer {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.userNameItem + .userNameItem {
    margin-left: 10px;
}

.postCloseBtn {
    margin-top: 25px;
    margin-right: 15px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #818182;
}

.postFooter {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #818182;
}

.postFooterItem {
    margin-right: 10px;
}

.postBody {
    margin: 10px;
}

.postSlider {
    margin-left: 10px;
}

.sliderContainer {
    display: flex;
    justify-content: center;
}

.sliderArrowLeft {
    position: absolute;
    font-size: 30px;
    margin-top: 20%;
    left: 400px;
}

.sliderArrowRight {
    position: absolute;
    font-size: 30px;
    margin-top: 20%;
    right: 400px;
}

.images {
    max-width: 600px;
    max-height: 600px;
}