

.container {
    margin-top: 50px;
    max-width: 800px;
    max-height: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
    border-radius: 10px;
}



.userNameContainer {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.userNameItem + .userNameItem {
    margin-left: 10px;
}

.postCloseBtn {
    margin-top: 25px;
    margin-right: 15px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #818182;
}

.postFooter {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #818182;
}

.postFooterItem {
    margin-right: 10px;
}

.postBody {
    margin: 10px;
}

.postSlider {
    margin-left: 10px;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderArrowLeft {

    font-size: 30px;
    left: 400px;
    padding: 9px 9px 0 9px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.sliderArrowRight {

    font-size: 30px;
    right: 400px;
    padding: 9px 9px 0 9px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.images {
    max-width: 750px;
    max-height: 600px;
}

.liked {
    color: red;
}

.didntLiked {
    color: black;
}