
.headerBlock {
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #E5E5EA;

}

.headerComponent {
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
}

.headerComponent p {
    margin: 5px 5px;
}

.headerLogo {
    margin-left: 10px;
    display: flex;
    cursor: pointer;
}

.userNameContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.userNameItem {
    margin-left: 10px;
}

.userNameImg {
    margin-bottom: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #657d94;
}

.headerLogoIcon {
    padding: 1px 5px 0 0;
}